html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-size: 16px;
}

:root {
  --primary-color: #e98add;
  --primary-color-2: #f9cdf1;
  --primary-color-3: #fae9f7;
  --info-color: #e98add;
  --scrollbar-color: #929292;
  --border-color: #fafafa;
  --danger-color: #ec555a;
  --success-color: #2ed573;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.custom-code-modal .ant-modal-body {
  padding: 0;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.ant-btn.property-edit-btn {
  line-height: 1;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);

  &:active {
    color: var(--primary-color);
    border-color: var(--primary-color-2);

    .anticon.elysia-icon {
      color: var(--primary-color) !important;
    }
  }

  &:hover {
    color: var(--primary-color);
    border-color: var(--primary-color-2);

    .anticon.elysia-icon {
      color: var(--primary-color) !important;
    }
  }
}

// 移动端媒体查询

@media screen and (max-width: 768px) {
  .elysia-panel {
    width: 100vw !important;
    position: absolute;
    z-index: 1;
  }

  .elysia-main {
    width: 100vw;
  }

  .main-wrapper {
    width: 100vw !important;
  }

  .setup-inside {

    position: absolute;
    z-index: 1;

    .elysia-setting {
      width: 100vw !important;
    }
  }
}